:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: rgba(255, 255, 255, 0.87);
    user-select: none;
}

body {
    margin: 0;
    padding: 1rem;
}

.table-data-grid .MuiDataGrid-cell {
    border: 1px solid;
}

.class-concept {
    height: 30px;
    width: 80px;
}

.class-concept.large {
    width: 120px;
}

.dynamic-relationship {
    width: 50px;
}

.class-concept, .dynamic-relationship {
    display: inline-grid !important;
    place-content: center;
    cursor: pointer;
    transition: transform 0.3s ease-out, filter 0.3s ease-out;
}

.class-concept:hover, .dynamic-relationship:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}
