:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: rgba(255, 255, 255, 0.87);
    user-select: none;
}

body {
    margin: 0;
    padding: 1rem;
}

.table-data-grid .MuiDataGrid-cell {
    border: 1px solid;
}

.class-concept {
    display: inline-grid !important;
    cursor: pointer;
    height: 30px;
    width: 80px;
    place-content: center;
    background-color: #f44336;
}

.class-concept.large {
    width: 120px;
}
